version: '3.9'

x-base_service: &base_service
    ports:
      - "7860:7860"
    volumes:
      - &v1 ./data:/data
      - &v2 ./output:/output
    deploy:
      resources:
        reservations:
          devices:
              - driver: nvidia
                device_ids: ['0']
                capabilities: [gpu]

name: webui-docker

services:
  download:
    build: ./services/download/
    profiles: ["download"]
    volumes:
      - *v1

  auto: &automatic
    <<: *base_service
    profiles: ["auto"]
    build: ./services/AUTOMATIC1111
    image: sd-auto:9
    environment:
      - CLI_ARGS=--allow-code --medvram --xformers

  auto-cpu:
    <<: *automatic
    profiles: ["auto-cpu"]
    deploy: {}
    environment:
      - CLI_ARGS=--no-half --precision full

  hlky:
    <<: *base_service
    profiles: ["hlky"]
    build: ./services/hlky/
    image: sd-hlky:6
    environment:
      - CLI_ARGS=--optimized-turbo
      - USE_STREAMLIT=0

  lstein:
    <<: *base_service
    profiles: ["lstein"]
    build: ./services/lstein/
    image: sd-lstein:4
    environment:
      - PRELOAD=true
      - CLI_ARGS=
