# for all of the stuff downloaded by transformers, pytorch, and others
/.cache
# for UIs
/config
# for all stable diffusion models (main, waifu diffusion, etc..)
/StableDiffusion
# others
/Codeformer
/GFPGAN
/ESRGAN
/BSRGAN
/RealESRGAN
/SwinIR
/MiDaS
/BLIP
/ScuNET
/LDSR
/Deepdanbooru
/Hypernetworks
/VAE
/embeddings
/Lora
/ControlNet
/openpose
/ModelScope
/LyCORIS
/GLIGEN
/CLIPEncoder
